<!DOCTYPE html>
<html>
<head>
  <title>Stage Bright</title>
  <link href = "static/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
</head>
<body>
<center>
  <a href="/">
    <img class="logo" src="static/images/logo.png" rel="logo">
  </a>

  <!--  -->

  <nav>
      <ul id="main-nav">
          <li><a href="#">Resources</a>
            <ul>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/tips">Tips</a></li>
            </ul>
          </li>
          <li><a href="#">Practice</a>
            <ul>
            <li><a href="/teleprompter">Teleprompter</a></li>
            <li><a href="/record">Record</a></li>
          </ul>
        </li>
          <li><a href="/account">Account</a><li>
          <li><a class="last-option" href="/about">About Us</a></li>
      </ul>
  </nav>

  <!--  -->

<h1> About Us </h1>
</center>
<img class = "bio-images" src="static/images/jeff.jpg" rel="jeff">

<h2>Jeff Van is Jeff Van</h2>
<br>
<img class = "bio-images" src="static/images/rachel.jpg" rel = "rachel">
<h2>Rochel is Rochel</h2>
<br>
</body>
</html>
