<!DOCTYPE html>
<html>
<head>
  <title>Stage Bright</title>
  <link href = "static/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
</head>
<body>
<center>
  <a href="/">
    <img class="logo" src="static/images/logo.png" rel="logo">
  </a>

  <!--  -->

  <nav>
      <ul id="main-nav">
          <li><a href="#">Resources</a>
            <ul>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/tips">Tips</a></li>
            </ul>
          </li>
          <li><a href="#">Practice</a>
            <ul>
            <li><a href="/teleprompter">Teleprompter</a></li>
            <li><a href="/record">Record</a></li>
          </ul>
        </li>
          <li><a href="/account">My Speeches</a><li>
          <li><a class="last-option" href="/about">About Us</a></li>
      </ul>
  </nav>
</center>
  <!--  -->
  <center><h1 class="header"> About Us </h1></center>

<div class="page-content">
<center>
  <img id="team-pic" src="static/images/team.jpg" rel="team picture">
<p>
  Public speaking is the number one fear in America. People are more<br>
  afraid of speaking in front of a crowd than they are afraid of heights,<br>
  spiders, and even death. Our goal is to change that.
</p>
  <p>
  We want to empower aspiring public speakers with the confidence to<br>
  speak about whatever they are most passionate about. Whether it's dinosaurs,<br>
  sports, or saving the world, we give you the tools to prepare and practice your message.<br>
</p>

<br>
<!-- <img class = "bio-images" src="static/images/jeff.jpg" rel="jeff"> -->
<p>
  Jeff Van<br>
  Cornell University<br>
  jeffvan159@gmail.com
<p>
<br>
<!-- <img class = "bio-images" src="static/images/rachel.jpg" rel = "rachel"> -->
<p>
  Rochel Levy<br>
  Massachussetts Institute of Technology<br>
  rlevy34@gmail.com
</p>
<br>
<!-- <img class = "bio-images" src="static/images/angie.jpg" rel= "angie"> -->
<p>
  Angie Ta<br>
  University of California, Davis<br>
  angielisata@gmail.com
</p>
</div>

<img class="bottom-image-right-myspeeches" src="static/images/cs.png"></img>
<img class="bottom-image-left-myspeeches" src="static/images/cs.png"></img>


</body>
</html>
