<!DOCTYPE html>
<html>
<head>
  <title>My Speeches</title>
  <link href="static/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>

</head>
<body>
  <center>
    <a href="/">
      <img class="logo" src="static/images/logo.png" rel="logo">
    </a>

    <!--  -->

    <nav>
        <ul id="main-nav">
            <li><a href="#">Resources</a>
              <ul>
                  <li><a href="/videos">Videos</a></li>
                  <li><a href="/articles">Articles</a></li>
                  <li><a href="/tips">Tips</a></li>
              </ul>
            </li>
            <li><a href="#">Practice</a>
              <ul>
              <li><a href="/teleprompter">Teleprompter</a></li>
              <li><a href="/record">Record</a></li>
            </ul>
          </li>
          <li><a href="/account">My Speeches</a><li>
            <li><a class="last-option" href="/about">About Us</a></li>
        </ul>
    </nav>
    <!--  -->
    <h1>My Speeches</h1>

    <div class = "page-content">
      <h2>Create a New Speech</h2>
      <form class = "page-message" method="POST" action="">
        <p>Title <input type="text" name="title" /></p>
        <p>Content <textarea rows="4" cols="50" name="content"></textarea></p>
        <input type="submit" />
      </form>
    {% for speech in speeches %}
    <h2> {{speech.title}} </h2>
    <p> {{speech.content}} </p>
    <p>{{speech.date}}</p>
    <p><a href="/post?key={{speech.key.urlsafe()}}">Edit this post!</a></p>
    <p><a href="/loggedinteleprompter?key={{speech.key.urlsafe()}}">Use the teleprompter for this post!</a></p>
    {% endfor %}



</center>
</div>


</body>
</html>
