<!DOCTYPE html>
<html>
<head>
  <title>Stage Bright</title>
  <link href="static/main.css" rel="stylesheet">

<center>
  <img src="static/images/cssilogo.png" rel="logo">
</center>
  <nav>
      <ul id="main-nav">
        <li><a href="/resources">Resources</a></li>
        <li><a href="/practice">Practice</a></li>
        <li><a href="/account">Account</a></li>
        <li><a id="last-option" href="/about-us">About Us</a></li>
      </ul>
  </nav>
</head>
<body>
  <form method="POST" action="">
    <p>Title <input type="text" name="title" /></p>
    <p>Content <textarea rows="4" cols="50" name="content"></textarea></p>
    <input type="submit" />
  </form>
  {% for speech in speeches %}
  <p> {{speech.date}} </p>
  <h2> {{speech.title}} </h2>
  <p> {{speech.content}} </p>
  {% endfor %}
</body>
</html>
