<!DOCTYPE html>
<html>
<head>
  <title>Stage Bright</title>
  <link href = "static/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
</head>
<body>
<center>
  <img src="static/images/cssilogo.png" rel="logo">
  <nav>
      <ul id="main-nav">
          <li><a href="#">Resources</a>
            <ul>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/tips">Tips</a></li>
            </ul>
          </li>
          <li><a href="/practice">Practice</a></li>
          <li><a href="/account">Account</a><li>
          <li><a class="last-option" href="/about-us">About Us</a></li>
      </ul>
  </nav>
</center>
Hello World
</body>
</html>
