<!DOCTYPE html>
<html>
<head>
  <title>Stage Bright</title>
  <link href = "static/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
</head>
<body>
<center>
  <a href = "/">
    <img class="logo" src="static/images/logo.png" rel="logo">
  </a>
  <!--  -->

  <nav>
      <ul id="main-nav">
          <li><a href="#">Resources</a>
            <ul>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/tips">Tips</a></li>
            </ul>
          </li>
          <li><a href="#">Practice</a>
            <ul>
            <li><a href="/teleprompter">Teleprompter</a></li>
            <li><a href="/record">Record</a></li>
          </ul>
        </li>
        <li><a href="/account">My Speeches</a><li>
          <li><a class="last-option" href="/about">About Us</a></li>
      </ul>
  </nav>

 <!--  -->

<div class="page-message">
<h1>Our Mission</h1>
<p>
  Public speaking is the number one fear in America. People are more<br>
  afraid of speaking in front of a crowd than they are afraid of heights,<br>
  spiders, and even death. Our goal is to change that. <br>
  <br>
  We want to empower aspiring public speakers with the confidence to<br>
  speak about whatever they are most passionate about. Whether it's dinosaurs,<br>
  sports, or saving the world, we give you the tools to prepare and practice your<br>
  message. To get started, check out some of our helpful resources, or practice<br>
  your speech using our teleprompter and our voice recorder!
</p>

</div>

</center>
</body>
</html>
