<!DOCTYPE html>
<html>
<head>
  <title>Stage Bright</title>
  <link href = "static/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
</head>
<body>
<center>
  <a href = "/">
    <img class="logo" src="static/images/logo.png" rel="logo">
  </a>
  <!--  -->

  <nav>
      <ul id="main-nav">
          <li><a href="#">Resources</a>
            <ul>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/tips">Tips</a></li>
            </ul>
          </li>
          <li><a href="#">Practice</a>
            <ul>
            <li><a href="/teleprompter">Teleprompter</a></li>
            <li><a href="/record">Record</a></li>
          </ul>
        </li>
        <li><a href="/account">My Speeches</a><li>
          <li><a class="last-option" href="/about">About Us</a></li>
      </ul>
  </nav>
  <!-- <center>
<!-- <h2 id="front-header">The website that helps you perfect your speech.</h2> -->
<!-- </center> -->
  <div id = "page-content-home">
    <center><h1>The website that helps you perfect your speech.</h1></center>

  <p><h1>1.</h1><br>Practice with the Teleprompter</p>
  <p><h1>2.</h1><br>Record and Play Back</p>
  <p><h1>3.</h1><br>Save in My Speeches</p>

</div>


  <img id="home-right" src="static/images/girl-speaker.png"></img>
  <img id="home-left" src="static/images/boy-speaker.png"></img>
 <!--  -->
<!-- <h1 class="header">Welcome to Stage Bright</h1>
<center><img id="home-image" src="static/images/audience-mic-pixlr.jpg"></img></center>
</center> -->

  <!--  -->

<!-- <h1 id="main-welcome">Welcome!</h1>
  <span><img class="home-images-l" src="static/images/tele.jpg"></img></span>

  <span><img class="home-images-m" src="static/images/retro.png"></img></span>
  <span><img class="home-images-r" src="static/images/save.png"></img></span> -->

<!--  -->

<!-- <h1>Our Mission</h1>
<p>
  Public speaking is the number one fear in America. People are more<br>
  afraid of speaking in front of a crowd than they are afraid of heights,<br>
  spiders, and even death. Our goal is to change that. <br>
  <br>
  We want to empower aspiring public speakers with the confidence to<br>
  speak about whatever they are most passionate about. Whether it's dinosaurs,<br>
  sports, or saving the world, we give you the tools to prepare and practice your<br>
  message. To get started, check out some of our helpful resources, or practice<br>
  your speech using our teleprompter and our voice recorder!
</p> -->

</div>

</center>
</body>
</html>
