<!DOCTYPE html>
<html>
<head>
  <!-- <title>Stage Bright</title> -->
  <link href = "static/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="static/my_recorder.js"></script>
  <script type="text/javascript" src="static/recorderWorker.js"></script>
  <script type="text/javascript" src="static/recorder.js"></script>

  <!--  -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Record</title>
  <style type='text/css'>
    ul { list-style: none; }
    #recordingslist audio {
      display: block;
      margin: 50px 100px;
}
  </style>

  <!--  -->

</head>
<body>
<center>
  <a href = "/">
    <img class="logo" src="static/images/logo.png" rel="logo">
  </a>
  <!--  -->

  <nav>
      <ul id="main-nav">
          <li><a href="#">Resources</a>
            <ul>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/tips">Tips</a></li>
            </ul>
          </li>
          <li><a href="#">Practice</a>
            <ul>
            <li><a href="/teleprompter">Teleprompter</a></li>
            <li><a href="/record">Record</a></li>
          </ul>
        </li>
        <li><a href="/account">My Speeches</a><li>
          <li><a class="last-option" href="/about">About Us</a></li>
      </ul>
  </nav>


  <ul id="recordingslist"></ul>
  <br>
  <span id="status"></span><span id="minutes"></span><span id="colon"></span><span id="seconds"></span>
  <br>
  <button onclick="startRecording(this);">Record</button>
  <button onclick="stopRecording(this)";disabled>Stop Recording</button>


 <!--  -->
