<!DOCTYPE html>
<html>
<head>
  <title>Tips</title>
  <link href = "static/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
</head>
<body>

  <center>
    <a href = "/">
      <img class="logo" src="static/images/logo.png" rel="logo">
    </a>
    <!--  -->

  <nav>
      <ul id="main-nav">
          <li><a href="#">Resources</a>
            <ul>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/tips">Tips</a></li>
            </ul>
          </li>
          <li><a href="#">Practice</a>
            <ul>
            <li><a href="/teleprompter">Teleprompter</a></li>
            <li><a href="/record">Record</a></li>
          </ul>
        </li>
        <li><a href="/account">My Speeches</a><li>
          <li><a class="last-option" href="/about">About Us</a></li>
      </ul>
  </nav>

 <h1> General Tips </h1>
 <div id="tips-list">
     <p><b>Know Your Audience:</b> Cater your speech directly to your audience. Think about what previous knowledge or perceptions your audience already has about your topic. </p>
     <br>
     <p><b>Be Wary with Data:</b> Assume your audience has a 5-second attention span for understanding data. If your data slide takes longer to understand, consider a bullet-point summary instead.</p>
     <br>
     <p><b>Tell a Story:</b> Wherever you can, implement a narrative. Instead of listing the results of your experiment, describe the process you took to get those results.</p>
     <br>
     <p><b>Summarize Key Points:</b> Dedicate a slide to summarizing the main points of your speech. Go over the key points you want your audience to remember.</p>
     <br>
     <p><b>Speech Checklist:</b> the next time you find yourself giving a speech, ask yourself if you are doing all of the following things:</p>
     <ul>
       <li>Are you making good eye contact with everyone in the room? <em>hint: try looking at peoples' foreheads instead of directly into their eyes!</em></li>
       <li>How well are you projecting your voice? Are you too quiet? Too loud?</li>
       <li>What is your body language like? Is it open? Closed? Don't forget to stand up straight!</li>
       <li>How fast are you speaking? Are you rushing through your speech? Are you taking enough pauses throughout your speech?</li>
       <li>What kind of attitude are you displaying? Are you excited and passionate about what you are speaking about?</li>
     </ul>
     <br>
     <h2><b>If you follow all of these tips, you will notice immediate improvement in your public speaking!</b></h2> 

 <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/tShavGuo0_E" frameborder="0" allowfullscreen></iframe>
 <iframe width="420" height="315" src="https://www.youtube.com/embed/UF8uR6Z6KLc" frameborder="0" allowfullscreen></iframe> -->
</div>

</body>
</html>
