<!DOCTYPE html>
<html>
<head>
  <title>Videos</title>
  <link href = "static/main.css" rel="stylesheet">
  <link href = "static/style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
</head>
<body>

  <center>
    <a href = "/">
      <img class="logo" src="static/images/logo.png" rel="logo">
    </a>
    <!--  -->

  <nav>
      <ul id="main-nav">
          <li><a href="#">Resources</a>
            <ul>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/tips">Tips</a></li>
            </ul>
          </li>
          <li><a href="#">Practice</a>
            <ul>
            <li><a href="/teleprompter">Teleprompter</a></li>
            <li><a href="/record">Record</a></li>
          </ul>
        </li>
          <li><a href="/account">My Speeches</a><li>
          <li><a class="last-option" href="/about">About Us</a></li>
      </ul>
  </nav>

<body>
  <h1> Videos </h1>

 <div class="video">
 <h3> Be A More Confident Public Speaker </h3>
 <iframe width="420" height="315" src="https://www.youtube.com/embed/tShavGuo0_E" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video">
 <h3> Steve Job's Commencement Address @ Stanford </h3>
 <iframe width="420" height="315" src="https://www.youtube.com/embed/UF8uR6Z6KLc" frameborder="0" allowfullscreen></iframe>
 </div>

 <br>

 <div class="video">
 <h3> "What is Wrong With Our Food System" </h3>
 <iframe width="420" height="315" src="https://www.youtube.com/embed/F7Id9caYw-Y" frameborder="0" allowfullscreen></iframe>
 </div>

<div class="video">
 <h3> Pep Talk - Kid President </h3>
 <iframe width="420" height="315" src="https://www.youtube.com/embed/l-gQLqv9f4o" frameborder="0" allowfullscreen></iframe>
</div>
</body>
</html>
