
nav {
  width: 1200px;
  display: block;
  height: 2.875rem;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 1px 1px 1px #999999;
  border-radius: 6px;
  background-clip: padding-box;
  background-color: #FFFFFF;
  /*background-image: -webkit-linear-gradient(top,#FFFFFF,#FFFFFF,#f8f8f8,#eeeeee);*/
  background-image: -webkit-linear-gradient(top,#3fe694,#3fe694,#3fe694,#3fe694);
  outline: 0;
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  /* background: transparent; */
  line-height: 1.41176471;
  margin-top: 5px;
  position: relative;
  margin-bottom: 120px;
  z-index: 2;

}


nav ul li {
  float: left;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul {
  background: #5f6975; border-radius: 0px; padding: 0;
  display: none;
  /*position: absolute; top: 100%;*/
}

  nav ul ul li {
    float: none;
    /*position: relative;*/
  }
      nav ul ul li a {
        display:block;
        color: #000;
        border-left: none;
      }

        nav ul ul li a:hover {
          background: #4b545f;
        }

nav a {
  width: 107px;
  padding: 13px;
  display: inline-block;
  border-left: 1px solid #ccc;
  text-decoration: none;
  color: black;
}

nav a:hover {
  /*background-image: -webkit-linear-gradient(top,#e6e6e6,#f5f5f5);*/
  background-image: -webkit-linear-gradient(top,#17c471,#17c471);
}

.last-option {
  border-right: 1px solid #ccc;
}
li {
  float: left;
  list-style: none;
}
ul {
  display: inline-block;
  list-style-type: none;
  margin: auto;
  padding: 0;
}

/*----*/

body {
  font-family: "Raleway",sans-serif;
  background: #C9E6DA;
}

h1 {
  margin-top:53px;
}

.page-message {
  margin:  85px 0px;
}

.bio-images {
  width: 200px;
  height: auto;
  display: inline;
  margin: 53px 0;
  margin-left: 227px;
}

h2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

button {
  margin: 16px;
  margin-top: 20px;
  background-color: #3fe694;
  border-radius: 7px;
  padding: 17px;
  font-size: large;
  font-family: "Raleway";
}

#recordingslist a {
  text-decoration: none;
}

.logo {
  height:177px;
  padding-bottom: 30px;
}

#tips-list {
  margin: 305px;
  margin-top: 50px;
  text-align: left;
  line-height: 1.4;

}

#tips-list b {
  font-weight: bolder;
  font-family: sans-serif;
  font-size: large;
  color: #CE81AE
}

.page-content {
  background-color: #F5F5F5;
  padding: 42px;
  margin: 0 300px 100px 300px;
  border-radius: 25;
}

.bottom-image-right {
  height: 219px;
  position: fixed;
  bottom: -34px;
  left: 90%;
}

.bottom-image-left {
  height: 219px;
  position: fixed;
  bottom: -34px;
  right: 90%;
  -webkit-transform: scaleX(-1);
}
.bottom-image-right-tele {
  height: 91px;
  position: fixed;
  bottom: 5px;
  left: 93.5%;
  border-radius: 23px;
}

.bottom-image-left-tele {
  height: 91px;
  position: fixed;
  bottom: 5px;
  right: 93.5%;
  -webkit-transform: scaleX(-1);
  border-radius: 23px;
}
